# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.git/
/.idea/
/cmake-build-release-mingw-qt/
x64/
.vs/
.vscode/
.idea/
bin/
obj/
packages/
*.user
*.suo
*.cache
*.pidb
*.log
*.pdb
*.cache
*.aps
*.ncb
*.opt
*.opendb
*.opensdf
*.sdf
*.aps
*.idb
*.VC.db
*.VC.VC.opendb